.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    margin: 16px;
}

.card {
    height: 130px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    padding: 18px;
    display: flex;
    align-items: flex-end;
}

.card p {
    margin: 0;
    font-weight: bold;
    font-size: 13px;
}
